.graph-container {
  height: 45vh;
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.bar-container {
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.total-income {
  width: 30vw;
  height: 12vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
progress {
  width: 29.5vw;
  height: 10px;
}

.changes_percentage {
  font-size: 10px;
  position: relative;
  margin-top: 12px;
  background-color: #1bbc86;
  padding: 3px 6px;
  color: white;
  font-weight: 380;
  border-radius: 12px;
}

.bar-graph {
  width: 30vw;
  height: 25vh;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.new-user {
  margin: 15px;
}

.select_option {
  width: 6vw;
  height: 5vh;
  margin: 2px;
  padding: 4px;
  border: 1px solid rgb(221, 220, 220);
}

.graph-left {
  width: 30vw;
  height: 40vh;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.balance {
  height: 7vh;
  width: 28vw;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(221, 220, 220);
}
.earning-section {
  height: 9vh;
  width: 28vw;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}

.earning {
  border: 1px solid rgb(221, 220, 220);
  height: 11vh;
  width: 13vw;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 5px;
}
.sales-value {
  border: 1px solid rgb(221, 220, 220);
  height: 11vh;
  width: 14vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
}

.line-graph {
  height: 24vh;
  width: 31.8vw;
  margin-left: 29px;
}

@media screen and (max-width: 1300px) {
  .graph-container {
    scale: 0.8;
  }
}

@media screen and (max-width: 1200px) {
  .earning .changes_percentage{
    display: none;
  }
  .sales-value .changes_percentage{
    display: none;
  }
}

@media screen and (max-width: 1000px) {
    .graph-container{
        height: 70vh;
        flex-direction: column;
        width: 80vw;
    }
    .graph-left{
        width: 80vw;
    }
    .balance{
        width: 70vw;
    }
    .earning-section{
        width: 100vw;
    }
    .line-graph{
        width: 82.7vw;
    }
    .total-income{
        width: 77vw;
    }
    .bar-graph{
        width: 77vw;
    }
    .earning{
        width: 23vw;
    }
    .sales-value{
        width: 23vw;
    }
    progress{
        width: 77.5vw;
    }
    .select_option{
        width: 10vw;
    }
  }
  @media screen and (max-width: 600px) {
    .graph-left{
        display: none;
    }
    .graph-container{
        height: 35vh;
    }
  }
  